.stake{
    /* height: 680px; */
    width: 100%;
}

.para1{
    font-size: 30px;
    color: white;
    text-align: center;
    
}
.head1{
    font-size: 70px;
    font-family: Bodoni MT ;
    color: white;
    text-align: center;
    padding-top: 200px;
}
.navcart{
    margin-left: 600px;
}
.iconcart{
    color: orange;
}
.inbox2{
    /* background-color: black; */
    height: 300px;
    background-image: url(backpickk.jpg);
    background-repeat: no-repeat;
}
.dsas{
    font-family:Brush Script MT;
    font-size: 40px;
    color: white;
    text-align: center;
    padding-top: 80px;
    
}
.blackk{
    background-color: rgba(0, 0, 0, 0.925);
    min-height: 300px;
    background-repeat: no-repeat;

}
.inbox3{
    background-image: url(coffeeshope.jpg);
    max-height: 600px;
    background-size: cover;
    
    
}
.GHFGH{
    font-size: 70PX;
    color: white;
    /* font-weight: bold; */
    font-family: Cooper Black;
    text-align: center;
    padding-top: 150px;
}
.bngvsh{
    color: white;
    font-size: 30px;
}
.llllnjhh{
    background-color: white;
    height: 2px;
    max-width: 600px;
    margin-left: 350px;
}
.poiyu{
    color: white;
    font-size: 30px;
    text-align: center;
}
.nhfrsrtuy{
    background-color: rgba(0, 0, 0, 0.578);
}
.buttonnn{
    margin-left: 570px;
}
.food{
    background-image: url(food.jpg);
    background-repeat: no-repeat !important;
    background-size: cover;
    height: 400px;
}
.bhgghj{
    height: 1px;
    background-color: white;
}
.kkkkkhhh{
    color: white;
    font-size: 70px;
    text-align: center;
    font-family: Bodoni MT Black;




}
.ioioioi{
    color: white;
    font-size: 30px;
    text-align: center;

}
.ghtytg{
    font-family:Brush Script MT;
    font-size: 34px;
    color:black;
    text-align: center;
    padding-top: 80px;
    
}

.white{
    background-color:rgba(255, 255, 255, 0.723) ;
    min-height: 300px;
    
}

.sehrekurs{
    height: 1px;
    background-color:black;
}
.inboxxx{
    /* background-color: black; */
    height: 300px;
    background-image: url(whiteback.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.river{
    background-image: url(4river.png);
    background-size: cover;
    background-repeat: no-repeat;

    height: 500px;
    width: 100%;
}
.mnyuer{
    margin-top: 450px;
}
.asqwzx{
    background-image: url(couple2.avif);
    background-size: cover;
    height: 550px;
    background-repeat: no-repeat;
}
.iotrbv{
    margin-top: 100px;
}
.qwaszxpo{
    background-image: url(cooking.jpeg);
    background-size: cover;
    height: 450px;
    background-repeat: no-repeat;
}

.tynmpoqwcx{
    background-color: rgba(0, 0, 0, 0.51);
    height: 450px;

}
.fam{
    background-image:url(fam.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.yellow{
    background-color: rgba(210, 138, 30, 0.821);

}
.footbar{
    background-color: rgb(22, 20, 20);
    height: 300px;

}
.xznmdfh{
    color: white;
}
.klvhgds{
    color: white;
}
.zdrcgy{
    color: black;
}
.ionfoot{
    color:  rgb(210, 138, 30);
}
.footlink{
    color: white;
}
.Phonenub{
    color: white;
}
.zdrcgy{
    font-family:Brush Script MT;
    font-size: 34px;
    color:black;
    text-align: center;
    padding-top: 80px;
    
}
.klvhgds{
    height: 1px;
    background-color:black;
}